<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="posts">
    {% for article in article_list %}
        <section class="article">
            <header class="article-header">
                <h2 class="article-title"><a href="{% url 'detail' article.pk %}">{{ article.title }}</a></h2>

                    <p class="article-meta">
                        createtime:  <a class="article-author" href="#">{{ article.create_time }}</a>
                    </p>

            </header>

                <div class="post-description">
                    <p>
                        {{ article.abstract|safe }}
                    </p>
                    <p>
                        views:  <a class="article-category article-category-js" href="#">{{ article.views }}</a>
                    </p>
                </div>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}